body{
    background: rgb(236, 230, 230);
    background-image: url(../Imagenes/fondo5.jfif);
    }
nav{position: relative;
    left: 5%;
    bottom: 10px;
    color: black;
    background-color: rgb(236, 230, 230);
    opacity: 0.9;
    background-size: auto;
    border: none solid;
    margin: 10px;
    float: left;
    padding-right: 30px;}
.top_recetas{position: relative;
            left: 30%;
            background-color:  #e68585;
            width: 260px;
            height: 30px;
            order: none 2px solid;
            padding: 5px;
            }

nav ul {
        list-style: none;
        overflow: hidden; 
      }
    
nav ul li {
        background-color: #e68585;
        margin: 5px;
        float: left;
        font-family: Arial, sans-serif;
        font-size: 20px;
      }
    
nav ul li a {
        display: block;
        padding: 10px;
        color: #000000;
        text-decoration: none;
        font-style: italic;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
    
nav ul li:hover {
        background: #dad61b;
      }
.titulo{
    position: absolute;
    left: 30%;
    top: 0px;
}
.empanadas{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    width: 280px;
    height: 50px;;
    position: relative;
    left: 40%;
    background-color: #dad61b;
    padding: 5px;
    text-align: center;
}
section{position: absolute;
    top: 200px;
    font-family: Arial, sans-serif;
}
.rect1{
    background-color: rgb(223, 214, 202);
    width: 1000px;
    height: 130px;
    overflow-y: hidden;
    padding: 10px;
    opacity: 0.9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.div1{
    background-color: rgb(223, 214, 202);
    width: 1000px;
    height: 400px;
    overflow-y: hidden;
    padding: 10px;
    opacity: 0.9;
}
.div2{
    background-color: rgb(223, 214, 202);
    width: 1000px;
    height: 600px;
    overflow-y: hidden;
    padding: 10px;
    opacity: 0.9;
}
aside{
    position: absolute;
    bottom: 600px;
    left: 1060px;
    width: 400px;

}
footer{
    text-align: center;
    background-color: rgb(223, 214, 202);
    width: 1480px;
    height: 30px;
    overflow-y: hidden;
    opacity: 0.9;
    position: relative;
    top: 1450px;
}
.wp{
    z-index: 2;
    position: fixed;
    left: 1300px;
    top: 400px; 
}
