@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

body{
    background: rgb(0, 0, 0);
    background-image: url(../Imagenes/fondo5.jpg);
    }
.titulo{
        background-color: rgb(226, 183, 200);
        display: flex;
        justify-content: center;
        width: 100%;
}

.principal{
        background-color: aliceblue; 
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
}
.subtitulo{
    background-color: rgb(226, 183, 200);
    font-size: 30px;
    font-family: 'Young Serif', serif;
    font-style: italic;
}

.barranav{
    padding: 28px;
    font-size: 30px;
    font-family: 'Young Serif', serif;
    font-style: italic;
    color: black;
}
.boton{
    text-decoration: none;
    background-color:rgb(226, 183, 200);
}
.barranav :hover{
    background-color: yellow;
}
.barranav :link{
    color: black;
}
.barranav :visited{
    color: black;
}
.header2{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
    font-family: 'Young Serif', serif;
    font-style: italic;
    flex-wrap: wrap;
    width: 30%;
}
.logo{
    padding: 5px;
}

.iconossup{
    padding: 25px;
    object-fit: cover;
    transition: 0.5s;
}
.iconosinf :hover{
    transform: scale(1.5);
}

.rect1{
    background-color: rgb(223, 214, 202);
    width: 90%;
    overflow-y: hidden;
    padding: 10px;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 30px;
}
.vid_map{
    display: flex;
    justify-content: center;
}
@media(max-width: 992px){
    .mapa{display: none;}
}
@media(max-width: 768px){
    .vid{display: none;}
}
aside{
    width: 40%;
    background-color: antiquewhite;

}
footer{
    background-color: white;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.iconos_inf{
    padding: 90px;
    object-fit: cover;
    transition: 0.5s;
}
.iconos_inf :hover{
    transform: scale(1.5);
}
.autor{
    padding: 30px;
}
.sorry_img{
    display: flex;
    justify-content: space-around;
    opacity: 0.9;
}
@media(max-width:575px){
    .sorry{display: none;}
}
@media(min-width:575px){
    .sorry2{display: none;}
    
}   

        